#navBar {
	position: fixed;
	z-index: 1;
	top:60px;
	display: block;
	text-align: center;
	margin: 0;
}
a{
	cursor: pointer;
}
a{
	display: flex;
	justify-content: center;
	
}
.menu{
	display: block; 
	float: left; 
	text-decoration: none; 
	padding: 0px;
	padding-bottom: 4px;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500; 
	text-transform: uppercase;
	position: relative; 
	line-height: 1.4;
}
.menu-item{
	display: inline-block;
	margin-bottom: 0;
}